button {
  border-radius: var(--button-radius);
  font-size: var(--button-font-size);
  margin: var(--button-margin);
  padding: var(--button-padding);
  border-width: var(--button-border-width);
  border-style: var(--button-border-style);
  border-color: var(--button-border-color);
  background-color: var(--button-background-color);
  color: var(--button-font-color);
  cursor: var(--button-cursor);
  opacity: var(--button-opacity);

  box-shadow: var(--button-shadow-color);
}

button:hover {
  border-radius: var(--button-hover-radius);
  font-size: var(--button-hover-font-size);
  margin: var(--button-hover-margin);
  padding: var(--button-hover-padding);
  border-width: var(--button-hover-border-width);
  border-style: var(--button-hover-border-style);
  border-color: var(--button-hover-border-color);
  background-color: var(--button-hover-background-color);
  color: var(--button-hover-font-color);
}