@import url(variables.css);
@import url(input.css);
@import url(button.css);
@import url(scroll-bar.css);
@import url(checkbox.css);
@import url(range.css);

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400&display=swap');


* {
  margin: 0;
  padding: 0;
  transition-duration: var(--transition-duration);
  font-family: var(--font-family);
}

body {
  font-family: monospace;
  color: var(--black);
  background: var(--bg-theme);
}

#content > div > div  {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

label {
  padding: 10px;
}


.card {
  position: relative;
  padding: 1rem;
  border: 1px solid var(--theme);
}

header#header {
  position: var(--header-position);
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--header-height);
  background: var(--theme);
  z-index: var(--header-z);
}

section#content {
  padding: 10px 20px;
  padding-top: calc(var(--header-height) + 10px);
}

.template-block {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0px;
  width: 50vw;
  height: 100%;
  background: gray;
}

h2 {
  color: var(--white);
  margin: 2rem;
}